@media all and (min-width: 1200px) {
    #banner #header .navbar .navbar-collapse .navbar-right li {
        margin-right: 5.5rem;
    }

    #banner .sliderContainer .sub-title {
        font-size: 7.2rem;
    }

    #banner .sliderContainer .main-title {
        font-size: 15rem;
        line-height: 14rem;
    }

    #banner .sliderContainer .main-title:after {
        bottom: -7rem;
    }

    #banner .sliderContainer .lMore {
        padding: 1.2rem 2.8rem;
        border: 3px solid #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        color: #fff;
        font-weight: bold;
        background: transparent;
        margin-top: 4rem;
        display: inline-block;
        margin-bottom: 23.2rem;
    }

    #footer .seperate {
        margin-top: 7rem;
    }

    #footer .blogs .blog-item:last-child {
        margin-bottom: 0;
    }
}