:root {
    --basicColor-1: #f38181;
    --basicColor-2: #fce38a;
    --basicColor-3: #eaffd0;
    --basicColor-4: #95e1d3;
    --basicColor-5: #999999;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

@font-face {
    src: url(../fonts/KaushanScript-Regular.ttf);
    font-family: KaushanScript;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


/* iconmoon Font*/

/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.col-xs-15 {
    width: calc((100%-30px)/5);
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

.img-responsive {
    width: 100%;
}

.primaryBackground {
    color: #fff;
    background-color: var(--basicColor-4);
}

.sub-title {
    font-family: KaushanScript;
    font-weight: bold;
    font-size: 2.4rem;
    color: #000;
    text-align: center;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 9rem;
    text-align: center;
}

.section-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--basicColor-5);
}

.main-title::after {
    content: "";
    height: 3px;
    width: 60px;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -4rem;
    background-color: var(--basicColor-1);
    transform: translateX(-50%);
}

.section-content {
    margin-top: 9rem;
}

.section-padding {
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.section-content {
    margin-top: 5rem;
}

.section-desc {
    text-align: center;
}

/*========================= banner =========================*/
#banner {
    /*background-image: url(../image/banner/bannerBackground.jpg);*/
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

#banner #header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 50%;
    transform: translate(-50%);

    z-index: 1;
    width: 100%;
    background-color: rgba(243, 129, 129,1);
}

#banner #header .navbar {
    margin-bottom: 0;
}

#banner #header .navbar-default {
    background-color: transparent;
    border: none;
}

#banner #header .navbar .navbar-header .logo {
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}

#banner #header .navbar .navbar-collapse .navbar-right li {
    margin-right: 5.5rem;
}

#banner #header .navbar .navbar-collapse .navbar-right li:last-child {
    margin-right: 0;
}

#banner #header .navbar .navbar-collapse .navbar-right li:nth-last-child(-n+2) {
    font-weight: 600;
}

#banner #header .navbar .navbar-collapse .navbar-right li a {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .5rem;
}

#banner #header .navbar-right [class^="icon-"] {
    font-weight: unset;
}

#banner #header .navbar .navbar-collapse .navbar-right>.active a {
    background: unset;
    color: var(--basicColor-2);
    border-bottom: 2px solid var(--basicColor-2);
}

#banner #header .navbar .navbar-collapse .navbar-right li a:hover {
    color: var(--basicColor-2);
}

#banner .slide-background {
    background-image: url(../image/banner/bannerBackground.jpg);
    position: relative;
    padding-top: 22.2rem;
    background-size: cover;
}

#banner .slide-background * {
    position: relative;
}

#banner .slide-background::before {
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(#f38181, #fce38a);
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
}


#banner .sliderContainer .sub-title {
    font-size: 7.2rem;
    font-weight: bold;
    color: #fff;
}

#banner .sliderContainer .main-title {
    color: #fff;
    font-size: 15rem;
    line-height: 14rem;
}

#banner .sliderContainer .main-title::after {
    background-color: #fff;
    bottom: -7rem;
}

#banner .sliderContainer .lMore {
    padding: 1.2rem 2.8rem;
    border: 3px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    background: transparent;
    margin-top: 4rem;
    display: inline-block;
    margin-bottom: 23.2rem;
}

#banner .slide-show .lMore:focus {
    outline: none;
}

#banner .sliderContainer {
    position: relative;
    text-align: center;
    top: 0;
}

#banner .slick-prev:before,
#banner .slick-next:before {
    color: black;
}

#banner .progressBarContainer {
    position: relative;
}

#banner .dots-container {
    position: relative;
}

#banner .slide-indicator {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);

}


#banner .progressBarContainer div {
    display: block;
    width: calc((100% - 90px)/4);
    padding: 0;
    cursor: pointer;
    margin-right: 30px;
    float: left;
    color: rgba(255, 255, 255, 0.7);
}

#banner .progressBarContainer div:last-child {
    margin-right: 0;
}

#banner .progressBarContainer div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

#banner .progressBarContainer div.inActive p {

    color: #fff;

}

#banner .progressBarContainer div .number {

    font-size: 2.4rem;
    font-weight: bold;
    margin-right: .2rem;
}

#banner .progressBarContainer div.inActive span.progressBar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
}

#banner .progressBarContainer div span.progressBar {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
}

#banner .progressBarContainer div span.progressBar .inProgress p {
    color: #fff;
}

#banner .progressBarContainer div span.progressBar .inProgress {
    background-color: var(--basicColor-1);
    width: 0%;
    height: 3px;
    opacity: 1;
}

.search-form {
    width: 50%;
    position: relative;
    background-image: url(../image/map/map-background.jpg);
    background-size: cover;
    display: none;
}

.search-form .form-control {
    width: 78%;
    border: none;
    display: inline-block;

}

.search-form button {
    width: 20%;
}

width: 20%;
}

/*====================== about ======================*/

#about {
    text-align: center;
}

#about .section-content .about-item {
    background-color: var(--basicColor-4);
}

#about .section-content .about-item .about-img {
    width: 100%;
    padding-top: 69.4444444%;
    position: relative;
    background-size: cover;
    transition: 0.3s;
}

#about .section-content .about-item .about-img::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(243, 129, 129), rgb(252, 227, 138));
    opacity: 0;
    transition: 0.3s;
}

#about .section-content .about-item .about-img:hover {
    transform: translate(-1rem, -1rem);
    transition: 0.3s;

}

#about .section-content .about-item .about-img:hover::before {
    opacity: .7;
}

#about .section-content .about-item .about-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
}

#about .section-content .about-item .about-img:hover .about-content {
    opacity: 1;
    transition: 0.3s;

}

#about .section-content .icon {
    font-size: 3rem;
    color: #fff;
}

#about .section-content .about-item .about-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}

/*====================== facts ======================*/


@media (min-width: 768px) {
    #facts .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    #facts .container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    #facts .container {
        width: 1140px;
    }
}

/*#facts .col-sm-15 {
    border-right: 1px solid #fff;

}

#facts .col-sm-15:first-child {
    border-left: 1px solid #fff;

}
*/

#facts .counter-number {
    font-size: 7.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 7.2rem;
    display: none;
    margin-top: 8rem;
}

#facts .counter-number.number-show {
    display: block;
}

#facts .section-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-transform: uppercase;
    margin-bottom: 8rem;

}


/*====================== work ======================*/
#work {
    text-align: center;
    padding-bottom: 0;
}

#work * {
    transition: 0.5s;
}

#work .section-content .container-fluid .row div {
    padding: 0;
}

#work .section-content .work-item {
    position: relative;

}

#work .section-content .work-item::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(#f38181, #fce38a);
    top: 0;
    left: 0;
    opacity: 0;

}

#work .section-content .work-item:hover::after {
    opacity: 0.7;

}

#work .section-content .content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    z-index: 1;

}

#work .section-content .work-item:hover .content {
    opacity: 1;

}

#work .section-content .work-item .content .icon {
    font-size: 2rem;
}

#work .section-content .work-item .content p:first-of-type {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 1rem;
}

#work .section-content .work-item .content p:nth-of-type(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-style: italic;
}

/*====================== blog ======================*/
#blog {
    text-align: center;
}

#blog * {
    transition: 0.5s;
}

#blog .section-content {
    text-align: left;
}

#blog .section-content .blog-content {
    position: relative;
}

#blog .section-content .calendar {
    background-color: var(--basicColor-4);
    display: inline-block;
    color: #fff;
    width: 6rem;
    height: 7rem;
    text-align: center;
    position: absolute;
    left: -1rem;
    bottom: 1rem;
    padding-top: 1.5rem;
}

#blog .section-content .calendar:hover {
    background-color: var(--basicColor-1);

}

#blog .section-content .calendar .date {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 3rem;
}

#blog .section-content .calendar .month {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -.2rem;
}


#blog .section-content .blog-title {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    margin-top: 1.8rem;
}

#blog .section-content .blog-title a:hover {
    color: var(--basicColor-4);
}

#blog .section-content .blog-title a {
    color: inherit;
}


#blog .section-content .section-desc {
    text-align: left;
}

#blog .section-content .icon {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--basicColor-4);
}

#blog .section-content .icon:hover {
    color: var(--basicColor-1);
}

#blog .section-content .desc-number {
    display: inline-block;
    margin-right: 2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: var(--basicColor-5);
}

/*====================== map ======================*/
#map {
    padding-top: 5.5rem;
    background-size: cover;
    text-align: center;
    background-image: url(../image/map/map-background.jpg);
}

#map * {
    transition: 0.5s;
}

#map .main-title {
    color: var(--basicColor-1);
    margin-bottom: 8rem;
}

#map .icon {
    margin-bottom: 1.5rem;
}

#map .main-title::after {
    bottom: -2rem;
    background-color: var(--basicColor-1);
    transform: translateX(-50%);
}

#map #google-map {
    display: none;
}

/*====================== footer ======================*/

#footer {
    padding-top: 7.5rem;
    background-color: #f8f8f8;
}

#footer * {
    transition: 0.5s;
}

#footer ul {
    padding-left: 0;

}

#footer .section-content {
    height: 30rem;
    margin-top: 3rem;
}

#footer .subcribe .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.6rem;
    color: #cccccc;
    font-weight: bold;
    user-select: none;
    line-height: 4.6rem;
    margin-bottom: 0;
}

#footer .subcribe .logo:hover {
    color: var(--basicColor-1);
}

#footer .subcribe .section-desc {
    margin-bottom: 3rem;
    font-weight: 400;
}

#footer .subcribe .follow {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #333;
}

#footer .subcribe .strong {
    font-size: 1.8rem;
    font-weight: bold;
}

#footer .subcribe .desc-number {
    margin-right: 2rem;
    display: inline-block;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: var(--basicColor-5);
    display: inline-block;
}

#footer .subcribe .social {
    display: inline-block;
}

#footer .subcribe .social li {
    display: inline;
    margin-right: 1rem;
}

#footer .subcribe .social li a {
    color: var(--basicColor-4);
    font-size: 1.75rem;
}

#footer .subcribe .social li a:hover {
    color: var(--basicColor-1);
}

#footer .subcribe form {
    margin-top: 3rem;
}


#footer .subcribe .form-control {
    height: 4.8rem;
    float: left;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    width: 60%;
    box-shadow: none;
}

#footer .subcribe .form-inline input::placeholder {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #e7e7e7;

}

#footer .subcribe .form-control:focus {
    box-shadow: none;
}

#footer .subcribe .primaryBackground {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.4rem 0;
    width: 40%;
    border-radius: 0;
    border: none;
    float: right;
}

#footer .subcribe .primaryBackground:hover {
    color: #fff;
    background-color: var(--basicColor-1);
}

#footer .blogs .title,
#footer .instagram .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #333333;
    text-transform: uppercase;
    line-height: 4.6rem;
}

#footer .blogs ul {
    margin-bottom: 0;
}

#footer .blogs .blog-item {
    margin-bottom: 3rem;
}

#footer .blogs .left {
    display: table-cell;
    vertical-align: middle;

}

#footer .blogs .right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

#footer .blogs .blog-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

#footer .date-time {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    color: #b1b1b1;
    margin-bottom: 0;
}

#footer .instagram .imglist a {
    float: left;
    width: calc(100%/3);
    font-size: 0;
    padding-left: 2px;
    padding-bottom: 2px;
}

#footer .instagram .imglist a div {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    font-size: 0;
}

#footer .instagram .date-time {
    margin-top: 2rem;
    display: block;
    color: #b1b1b1;
}

#footer .copy-right {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

#footer .copy-right span {
    color: var(--basicColor-1);
}