@media all and (min-width: 768px) {
    #banner #header .navbar .navbar-collapse .navbar-right li {
        margin-right: 1.5rem;
    }

    #banner #header .navbar .navbar-collapse .navbar-right li a {
        font-weight: unset;
    }

    #banner #header .navbar .navbar-collapse .navbar-right>.active a {
        background: unset;
        color: var(--basicColor-2);
        border-bottom: 2px solid var(--basicColor-2);
    }

    #banner .progressBarContainer div p {
        display: block;
        margin-top: 1rem;
        font-size: unset;
    }

    #banner .progressBarContainer div p span {
        display: unset;
    }

    #banner .sliderContainer .lMore {
        margin-bottom: 12rem;
    }

    #footer .blogs .left {
        vertical-align: top;
    }

    #facts .col-sm-15 {
        border-right: 1px solid #fff;
    }

    #facts .col-sm-15:first-child {
		border-left: 1px solid #fff;
    }

    #footer .subcribe form {
    margin-top: 2.8rem;

}

    #facts .counter-number {
        font-size: 6rem;
    }

    #footer .subcribe .logo {
    	text-align: left;
    }
    #footer .subcribe .section-desc {
    	text-align: left;
    }

    #footer .subcribe .primaryBackground {
        margin-bottom: 0;
    }