@media all and (min-width: 320px) {


    #banner #header .navbar .navbar-header {
        text-align: center;
    }

    #banner #header .nav {
        text-align: center;
    }

    #banner #header .navbar .navbar-collapse .navbar-right li {
        margin-right: 0;
    }

    #banner #header .navbar .navbar-collapse .navbar-right li a {
        font-weight: bold;
    }

    #banner #header .navbar .navbar-collapse .navbar-right>.active a {
        border: none;
    }

    #banner .sliderContainer .slide-background {
        padding-top: 10rem;
    }

    #banner .sliderContainer .sub-title {
        font-size: 3rem;
    }

    #banner .sliderContainer .main-title {
        font-size: 5rem;
        line-height: 6rem;
    }

    #banner .sliderContainer .main-title:after {
        bottom: -4rem;
    }

    #banner .sliderContainer .lMore {
        margin-top: 1rem;
        margin-bottom: 7rem;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border-width: 2px;
        text-transform: uppercase;
    }

    #banner .slide-indicator {
        bottom: 3rem;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }


    #banner .progressBarContainer div p {
        display: none;
    }


    @media all and (min-width: 425px) {
        #banner .progressBarContainer div p {
            display: block;
            margin-top: 1rem;
            font-size: 1rem;
        }

        #banner .progressBarContainer div p span {
            display: none;

        }

        #banner .slide-indicator {
            bottom: 0;
        }

    }


    #about .section-content .about-item {
        margin-bottom: 3rem;
    }

    #about .section-content .row div:last-child .about-item {
        margin-bottom: 0;
    }

    /*
    #facts .col-sm-15 {
        border: none;
    }

    #facts .col-sm-15:first-child {
        border: none;
    }*/

    #facts {
        overflow: hidden;
    }

    #facts [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    #facts .counter-number {
        margin-top: 5rem;
    }

    #facts .section-description {
        margin-bottom: 5rem;
    }

    #blog .section-content {
        margin-top: 0;
    }

    #blog .section-content .desc-number {
        margin-bottom: 2rem;
    }

    #footer .subcribe .logo {
        text-align: center;
    }

    #footer .subcribe .section-desc {
        margin-top: 0;
    }

    #footer .subcribe form {
        margin-top: 0;
    }

    #footer .subcribe .primaryBackground {
        margin-bottom: 2rem;
    }


}