@media all and (min-width: 992px) {
    #facts .counter-number {
        font-size: 7.2rem;
    }

    #banner #header .navbar .navbar-collapse .navbar-right li {
        margin-right: 3rem;
    }

    #banner .sliderContainer .sub-title {
        font-size: 5rem;
        font-weight: bold;
        color: #fff;
    }

    #banner .sliderContainer .main-title {
        color: #fff;
        font-size: 10rem;
        line-height: 9rem;
    }
}