:root {
    --basicColor-1: #f38181;
    --basicColor-2: #fce38a;
    --basicColor-3: #eaffd0;
    --basicColor-4: #95e1d3;
    --basicColor-5: #999999;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

@font-face {
    src: url(../fonts/KaushanScript-Regular.ttf);
    font-family: KaushanScript;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


/* iconmoon Font*/

/* 5 Columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.col-xs-15 {
    width: calc((100%-30px)/5);
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: calc((100%-30px)/5);
        float: left;
    }
}

.section-padding {
    padding-top: 9rem;
    padding-bottom: 11rem;
}

.primaryBackground {
    color: #fff;
    background-color: var(--basicColor-4);
}

.sub-title {
    font-family: KaushanScript;
    font-weight: bold;
    font-size: 2.4rem;
    color: #000;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 9rem;
}

.section-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--basicColor-5);
}

.main-title::after {
    content: "";
    height: 3px;
    width: 60px;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -4rem;
    background-color: var(--basicColor-1);
    transform: translateX(-50%);
}

.section-content {
    margin-top: 9rem;
}

/*========================= banner =========================*/
#banner {
    /*background-image: url(../image/banner/bannerBackground.jpg);*/
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    /*background: linear-gradient(#f38181, #fce38a);*/
    background: rgba(0,0,0,0.5);
}
/*
#banner::before {
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(#f38181, #fce38a);
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
}*/

#banner #header {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1rem;
    z-index: 1;
}

#banner #header .navbar-default {
    background-color: transparent;
    border: none;
}

#banner #header .navbar .navbar-header .logo {
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}

#banner #header .navbar .navbar-collapse .navbar-right li {
    margin-right: 5.5rem;
}

#banner #header .navbar .navbar-collapse .navbar-right li:last-child {
    margin-right: 0;
}

#banner #header .navbar .navbar-collapse .navbar-right li a {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .5rem;
}

#banner #header .navbar .navbar-collapse .navbar-right>.active a {
    background: unset;
    color: var(--basicColor-2);
    border-bottom: 2px solid var(--basicColor-2);
}

#banner .slide-background {
    background-image: url(../image/banner/bannerBackground.jpg);
    position: relative;
    padding-top: 22.2rem;
    background-size: cover;
}

#banner .slide-background * {
    position: relative;
}

#banner .slide-background::before {
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(#f38181, #fce38a);
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
}


#banner .sliderContainer .sub-title {
    font-size: 7.2rem;
    font-weight: bold;
    color: #fff;
}

#banner .sliderContainer .main-title {
    color: #fff;
    font-size: 15rem;
    line-height: 14rem;
}

#banner .sliderContainer .main-title::after {
    background-color: #fff;
    bottom: -7rem;
}

#banner .sliderContainer .lMore {
    padding: 1.2rem 2.8rem;
    border: 3px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    background: transparent;
    margin-top: 4rem;
    display: inline-block;
    margin-bottom: 23.2rem;
}

#banner .slide-show .lMore:focus {
    outline: none;
}

#banner .sliderContainer {
    position: relative;
    text-align: center;
    top: 0;
}

#banner .slick-prev:before,
#banner .slick-next:before {
    color: black;
}

#banner .progressBarContainer {
    position: relative;
}

#banner .slide-indicator {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

#banner .slider {
}

#banner .progressBarContainer div {
    display: block;
    width: calc(25% - 30px);
    padding: 0;
    cursor: pointer;
    margin-right: 30px;
    float: left;
    color: white;
}

#banner .progressBarContainer div:last-child {
    margin-right: 0;
}

#banner .progressBarContainer div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-top: 2rem;
}

#banner .progressBarContainer div .number {

    font-size: 2.4rem;
    font-weight: bold;
    margin-right: .2rem;
}

#banner .progressBarContainer div span.progressBar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
}

#banner .progressBarContainer div span.progressBar .inProgress {
    background-color: var(--basicColor-1);
    width: 0%;
    height: 3px;
}

.search-form {
    width: 50%;
    position: relative;
    background-image: url(../image/map/map-background.jpg);
    background-size: cover;
    display: none;
}

.search-form .form-control {
    width: 78%;
    border: none;
    display: inline-block;

}

.search-form button {
    width: 20%;
}



/*====================== map ======================*/
#map {
    padding-top: 5.5rem;
    background-size: cover;
    text-align: center;
    background-image: url(../image/map/map-background.jpg);
}

#map * {
    transition: 0.5s;
}

#map .main-title {
    color: var(--basicColor-1);
    margin-bottom: 8rem;
}

#map .icon {
    margin-bottom: 1.5rem;
}

#map .main-title::after {
    bottom: -2rem;
    background-color: var(--basicColor-1);
    transform: translateX(-50%);
}

#map #google-map {
    display: none;
}